# Farmers Service Configuration
spring:
  datasource:
    url: jdbc:postgresql://farmers-db:5432/farmers_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  
server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
