# yaml-language-server: $schema=https://json.schemastore.org/base.json
# Grafana Datasource Provisioning Configuration
# This file uses Grafana's datasource YAML format (not standard Kubernetes)
apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"
      queryTimeout: "60s"
